# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UNO_Perspective2D.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\UNO_Perspective2D\.idea\.idea.UNO_Perspective2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
